* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Curse;
  src: url(./Curse\ of\ the\ Zombie.ttf);
}
@font-face {
  font-family: "Sd";
  src: url(./Shadow\ of\ the\ Deads.ttf);
}
@font-face {
  font-family: Bb;
  src: url(./BlueberrypiepersonaluseBold-x3AZV.otf);
}
body {
  height: 100vh;
  width: 100%;
  background: slateblue;
  position: relative;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100vh;
}
.page1 {
  background: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2 {
  background: black;
  position: relative;
}
.page3 {
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3 h3 {
  font-family: Bb;
  font-size: 13vw;
}
h2 {
  font-family: Curse;
  font-family: "Sd";
  font-size: 10vw;
}

h1 {
  /* font-family: "Urbanist", sans-serif; */
  /* font-family: Curse; */
  font-family: Sd;

  font-size: 13vw;
  color: transparent; /* Make text transparent */
  -webkit-text-stroke: 2px white; /* Outline color */
  /* position: relative;
  overflow: hidden; */
  -webkit-text-stroke: 1px rgb(255, 154, 87);
  transition: all ease-in 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  /* line-height: 1; */
}

h1:hover {
  transition: all ease-in 0.3s;
  color: rgb(255, 46, 46);
}
