* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background: slateblue;
  position: relative;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100vh;
}
.page1 {
  background: seagreen;
}
.page2 {
  background: black;
  position: relative;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 23vw;
  color: transparent; /* Make text transparent */
  -webkit-text-stroke: 2px white; /* Outline color */
  /* position: relative;
  overflow: hidden; */
  -webkit-text-stroke: 5px rgb(255, 154, 87);
  transition: all ease-in 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  /* line-height: 1; */
}

h1:hover {
  transition: all ease-in 0.3s;
  color: rgb(255, 46, 46);
}
