@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double+Ink:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Urbanist", sans-serif;
  background: black;
}
.section11 {
  width: 100%;
  height: 100vh;
  background: #c6caa7;
}
.section11 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  /* background: red; */
  padding: 10px 20px;
  font-size: 40px;
}
.section11 nav .logo {
  font-weight: 700;
}
.section11 .catgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 15px;
}
.section11 .catgs .catg {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
}
.section11 .mid {
  background: red;
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  font-weight: 400;
}
.section11 .mid .left {
  width: 70%;
  background: blue;
  height: 100%;
  font-weight: 100;
}

.section1 {
  width: 100%;
  height: 100vh;
  background: rgb(4, 4, 7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.section1 .headline {
  width: 80%;
  /* background: white; */
  color: white;
  font-size: 7vw;
  text-align: center;
}
.section1 .headline span {
  color: gray;
}
.section1 button {
  background: rgb(49, 160, 251);
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
}
.section2 {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 200px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.section3 {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
}
.section4 {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  border-radius: 100px 100px 0px 0px;
}
.section2 .headline {
  width: 80%;
  /* background: white; */
  color: rgb(0, 0, 0);
  font-size: 7vw;
  text-align: center;
}
.section2 .headline span {
  color: gray;
}
.section2 button {
  background: rgb(49, 160, 251);
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  font-family: "Urbanist", sans-serif;
}
