* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100vh;
}
.section1 {
  width: 100%;
  height: 100vh;
  background: blue;
}

.section2 {
  width: 100%;
  height: 100vh;
  background: rgb(255, 0, 0);
}
button {
  position: fixed;
  top: 100px;
  left: 200px;
  padding: 30px;
  font-size: 20px;
}
nav {
  display: flex;
  background: rebeccapurple;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  gap: 40px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 30px;
}
